<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-instagram" href="https://instagram.com/{{ site.instagram_username }}">
        <i class="icon-instagram"></i>
      </a>
    </div>
    <div class="credits">
      &copy;
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
      Robert Lou
    </div>
  </div>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</footer>
